server:
  name: "hitwhoj-judge"
  mode: "dev"
  port: 53333
  version: "v0.0.1"

snowflake:
  start_time: "2025-07-01"
  machine_id: 1

jwt:
  access_secret: "夏天夏天悄悄过去留下小秘密"
  refresh_secret: "压心底压心底不能告诉你"
  access_expire_seconds: 3600
  refresh_expire_seconds: 86400

log:
  level: "info"
  filename: "log/server.log"
  max_size: 200
  max_age: 30
  max_backups: 7

mysql:
  host: 127.0.0.1
  port: 3306
  user: "user"
  password: "password"
  dbname: "dbname"
  max_open_conns: 200
  max_idle_conns: 50
  max_lifetime: 1h

postgres:
  host: 127.0.0.1
  port: 5433
  user: postgres
  password: hitwhoj@123456
  dbname: hitwhoj_rebirth
  max_idle_conns: 10    # 最大空闲连接
  max_open_conns: 100   # 最大打开连接
  max_lifetime: 30m     # 连接最大存活时间

redis:
  host: 127.0.0.1
  port: 6379
  password: ""
  db: 0
  pool_size: 10

minio:
  endpoint: 192.168.0.174:9001    # MinIO 服务地址（IP+端口）
  access_key: hitwhojadmin      # 访问密钥（MinIO 登录用户名）
  secret_key: hitwhoj@minio123      # 秘密密钥（MinIO 登录密码）
  use_ssl: false              # 本地测试关闭 SSL，生产环境根据实际配置
  region: ""                  # 区域，默认空即可（MinIO 单机版无需配置）